.app-container {
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-top: 86px;
  /* Matched sidebar top */
  margin-left: 250px;
  /* Matched sidebar width */
  padding: 0;
  background-color: var(--bg-color);
  min-height: calc(100vh - 86px);
}